<ion-view view-title="Vælg kantine" style="height: 100%">
  <ion-content style="height: 100%">
    <div class="row" style="height: 100%">
      <div class="col col-center" style="height: 100%">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
          </label>
        </div>
        <a class="button button-block button-positive" href="/#/tab/menu">
          Block Button
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
