<ion-view view-title="Kantinevalg" class="bg1">
  <div class="centered-parent padding">
      <label class="item item-input item-select">
        <div class="input-label">
          Vælg kantine
        </div>
        <select data-ng-model="selectedCanteen">
          <option data-ng-repeat="canteen in canteens">{{ canteen.name }}</option>
        </select>
      </label>

      <button class="button button-full button-positive button-large" data-ng-click="run()" data-ng-disabled="!selectedCanteen">
        Kør!
      </button>
  </div>
</ion-view>
