<ion-view view-title="Menu">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate  item-thumbnail-left item-icon-right" ng-repeat="menuItem in menu" type="item-text-wrap" href="#/tab/menu/{{ menuItem.date }}">
        <img ng-src="{{ menuItem.images[0] }}">
        <h3 class="capitalize">{{ menuItem.date | date:'EEEE' }}</h3>
        <h2>{{ menuItem.name }} </h2>
        <p>{{ menuItem.details }}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
