.capitalize {
  text-transform: capitalize;
}

.link-free,
.link-free:hover,
.link-free:active,
.link-free:visited,
.link-free:link {
  text-decoration: none;
}

.star-remembered {
  color: blue;
}

.bg1 {
  background-image: url('../img/bg4.png');
  background-size: cover;
  background-position: center;
}

.pane {
  background-color: #eee;
}

.centered-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.odd-even:nth-child(odd) {
  background-color: #eeeeee;
}
.odd-even:nth-child(even) {
  background-color: #e6e6e6;
}

.box {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 1em;
}
