.capitalize {
  text-transform: capitalize;
}

.link-free,
.link-free:hover,
.link-free:active,
.link-free:visited,
.link-free:link {
  text-decoration: none;
}

.star-remembered {
  color: blue;
}

.bg1 {
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  background-position: center;
}

.pane {
  background-color: #eee;
}

.centered-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.odd-even:nth-child(odd) {
  background-color: #ddd;
}
.odd-even:nth-child(even) {
  background-color: #ccc;
}
